/*body {
  font-family: Helvetica;

}*/

/*have to enter CSS code with a page specific ID, which is what I've done:*/

 body {
    background-color: green ;
    font-family: Helvetica;
}
/*
 }
 h1 {
    background-color: #00000;
 }*/



h1 {
  color: red;
  clear: both;
  font-size: 75px;
  text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.header_links {
  margin-left: 350px;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 20px;
  float: left;
  color: green;
  background-color:yellow ;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.form {
  width: 15%;
  text-align: right;
}

.products {
  width: 20%;
  float: left;
  margin-bottom: 50px;
}

.products a {
  padding: 10px;
  background-color: darkcyan;
  margin-right: 10px;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.show {
  text-align: center;
    color: green;
  border: 5px solid black;
  padding-bottom: 70px;
}

.show_links {
    color: cyan;
  width: 50%;
  margin: 40px 0 0 380px;
}
